@import "variables";
@import "all.css";

/* HTML Elements */
body {
    background-color: #6b6b6b;
}

footer {
    padding: 15px;
}

/* Meta Classes */

.proto-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 481px;
    height: 971px;
}

.proto-frame {
    width: 481px;
    height: 971px;

    position: absolute;
    z-index: 999;

    pointer-events: none;
}

.proto-content {
    width: 428px;
    height: 926px;

    position: absolute;
    top: 23px;
    left: 27px;
    z-index: 0;
}

.notch-padding {
    background-color: magenta;
    opacity: 0.5;

    display: block;
    width: 428px;
    height: 35px;

    position: absolute;
    top: 23px;
    left: 27px;
    z-index: 1;
}

/* Classes */

.container {
    background-color: #adadad;
}

/* Media Queries */
/* Mobile Query */
@media screen and (max-width: $breakpoint-mobile) {

    /* Scale device to fit on screen */
    .proto-wrapper {
        transform: scale(0.75);
        position: relative;
        left: -10%;
        top: -100px;
    }

    footer {
        position: relative;
        top: -150px;
    }
  }