@import "variables";
@import "all.css";

/* Hide scrollbar for Webkit browsers */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Classes */

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.back {
    color: #ffffff;
}

.container {
    padding-bottom: 85px;
}

.dot {
    height: 125px;
    width: 125px;
    border: 3px solid $brightGold;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    background-color: $brightGold;
}

.dot > i {
    color: black;
    position: relative;
    top: 32px;
}

.dot:hover > i {
    color: white;
}

.font-size-lg {
    font-size: 1.3rem!important;
}

.notch-padding {
    background-color: black;
    display: block;
    width: 428px;
    height: 35px;
}

/* Main navbar styling */

header {
    background-color: black;
    color: white;
}

.banner-top {
    padding-top: 35px;
    background-color: black;
    min-height: 65px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.banner-bottom {
    height: 110px;
}

.banner-logo {
    display: block;
    margin-left: auto;
    height: 85px;
}

.banner-logo-text {
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.banner-logo-text.font-size-lg {
    white-space: inherit;
    overflow: visible;
}

.login-banner-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
}

.login-banner-bottom {
    padding-top: 30px;
    height: 140px;
}

.media-background {
    filter: brightness(50%);
}

.media-background-container {
    padding-top: 90px;
}

.navbar-toggler {
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.no-image-padding {
    padding-top: 70px;
}

/* Bottom nav styling */

footer {
    background-color: black;
    height: 65px;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 997;
}

.nav-link > .fas {
    color: white;
}

.nav-link.active > .fas {
    color: $brightGold;
}

.nav-link > .fas:hover {
    color: $brightGold50;
}

/* Dark Mode Stylings */

.darkmode, .fas.darkmode, .text-secondary.darkmode {
    color: $darkModeText!important;
}

.alert-warning.darkmode, .list-group-item.active.darkmode {
    background-color: #f9e7c950!important;
}

.alert-info.darkmode {
    background-color: #dcf3f850!important;
}

.btn.darkmode, .card-block.darkmode {
    background-color: $darkModeBackground;
}

.breadcrumb-item.active.darkmode {
    color: #bbbbbb;
}

.card-header.darkmode, .list-group-item.darkmode {
    background-color: #131110;
    border: 1px solid rgba(255,255,255,.125);

}

.dropdown-menu.darkmode {
    background-color: $darkModeBackground;
    border: 1px solid #b3b3b3;
}

.text-secondary:hover.darkmode:hover {
    color: #afafaf!important;
}

body.darkmode {
    background-color: $darkModeBackground;
}