/* Colors */
$brightGold: rgba(255,202,6,1);
$brightGold50: rgba(255,202,6,0.5);
$brightGold25: rgba(255,202,6,0.25);

/* Darkmode Properties */
$darkModeBackground: #000000;
$darkModeText: #ffffff;

/* Media Queries */
$breakpoint-mobile: 600px;